/* General CSS */
*{ margin: 0; padding: 0; box-sizing: border-box; }

html{
  background-color: lightgray;
  font-family: 'Sedgwick Ave',Arial;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

section h1{ text-align: center;}
.row{ max-width: 1140px; margin: 0 auto; padding-bottom: 2% ; }


/* Navigation Bar */
.navigator{ float: right; list-style: none; margin-top: 20px; }
.navigator li{ display: inline-block; margin-left: 40px; }
.navigator li a{ color: white; text-decoration: none; padding: 12px 5px;}
.navigator li a:hover{ border-bottom: 2px solid gold }
.mainLogo{ height: 100px; width: auto; }


/* Float NavBar */

.sticky{
  position: fixed;
  background-color: rgba(8, 3, 2, 0.596);
  top:0;
  left:0;
  width: 100%;
  height: auto;
  animation-duration: 2s;
  z-index: 99;
}
.sticky .mainLogo{ display: none; }
.sticky .navigator li a{ color: white; text-decoration: none; padding: 5px 5px;}
.sticky .navigator{ margin-top: 0px; }
.sticky .row{ padding: 10px}

/* Main Header */
header{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7) ), url("../../vendors/images/opener.jpg");
  height: 85vh;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
}

.innerHeader{
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
}


.innerHeader h1{
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: 54px;
}

/* About Section */
.aboutSection{ 
  background-color: #f1d256;
  /* background-image: linear-gradient(#ffb6c1,#add8e6) */
  /* background-image: linear-gradient(#f1c40f,#ecf0f1); */
}
.aboutSection p{ font-size: 22px; line-height: 145%;}

/* Social Media Section */
.socialSection a:link, a:visited{ color:#FFD700; }
.socialSection{ background-color: #ecf0f1; }
.bigIcon{ font-size: 300%; }
.bigIcon:hover{ color: #e5c100; }
.socialSection h5{
  margin-bottom: 15px;
}

/* Form Formatting */
.contactSection{ background-color: beige; }

input, textarea{
  padding-left: 10px;
  margin-bottom: 20px;
  height: 35px;
  width: 100%;
  font-family: monospace;

}
textarea{ height: 50px;}
form{ width: 60%; margin: 0 auto; }


iframe{ width: 100%; height: 315px; }

.btnLink, .btnLink:visited{
  text-decoration: none;
  display: inline-block;
  color: #000000;
  background-color: #FFD700;
  width: 300px;
  height: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 100px;
}
.btnLink:hover{background-color: #e5c100;}
input[type=submit]{ 
  font-family: 'Sedgwick Ave',Arial;
  width: 150px;
  background-color: #FFD700;
  border-radius: 300px;
  border-style:none;
  box-shadow: none;
}
input[type=submit]:hover{ background-color: #e5c100;}

.videosSection{ background-color: #e9e9e9;}


/* Animate */

.js--wp-1{
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-1 .animated{ opacity: 1; }

.mobileNavicon{
  float: right;

  font-size: 200%;
  color: #fff;
  cursor: pointer;
  display: none;
}